# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 1b0ed996d260177a2563d98ba5a7d2e87954c8dce807f5199d4be8c542dd5d586d5b50eb3f26a5d742eb3316b712504fb45f150c82cb05a2a1677b1c3815e92d

test:
  secret_key_base: 0e27c7d0af3fb0345702445f112403b5a0010b505703df520420a423dadba27fc80f16f6357135a86a35894b51e8112588ffdaac7434c133c1849bcb6747c0cf

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
